<div class="content-wrapper">
    <div class="internal__data">
        <div class="page-title fw-bolder">
            <span class="title-data" data-main='@(ViewData["Main"])'>Dashboard</span>
        </div>
    </div>
   

</div>
