<a href="javascript:void(0)" class="logo">
 
</a>
<div class="sidebar">
    <div class="sidebar-scroll">
        <ul class="sidebar-menu">
           
                <li><a asp-controller="Home" asp-action="Index" ><span>Dashboard</span></a></li>
            <li><a asp-controller="UOMS" asp-action="Index"><span>Unit of Measure</span></a></li>
                <li><a asp-controller="Items" asp-action="Index" ><span>Items</span></a></li>
         
           
        </ul>
    </div>
</div>

